/*.parent{

    background-color: yellow;
    padding: 16px;
    margin: 16px;
    border: 1px solid black;
    margin: 16px 15px
}*/
/*.parent{
    width: 200px;
    background-color: aqua;
    text-align: center;
}*/
 